.audience-section {

  &__container {
    @extend %container;
  }

  &__heading {
    margin-bottom: 40px;
  }

  &__subtitle {
    display: block;
    width: 542px;
    margin: 0 auto 60px;
    text-align: center;
    padding: 25px 35px;
    @include text-style(2.4rem, 400, $white-color);
    font-family: $gotham;

    background-image: url("../assets/img/corner-border.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    &:not(:last-child) {
      margin-bottom: 100px;
    }
  }

  @include respond(tab-land) {

    &__row {
      flex-direction: column;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }

    &__img {
      margin-bottom: 50px;
    }
  }

  @include respond(phone) {

    &__heading {
      margin-bottom: 32px;
    }

    &__subtitle {
      width: 100%;
      margin: 0 auto 30px;
      padding: 6px 20px 20px;
      line-height: 20.5px;
      @include text-style(1.8rem, 400, $white-color);
    }
  }
}
