.footer {
  background-color: #161616;
  height: 191px;

  &__container {
    @extend %container;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__socials {
    display: flex;
    align-items: center;
  }

  &__social {
    &:not(:last-child) {
      margin-right: 35px;
    }
  }
}
