.footer {
  background-color: #161616;
  height: 191px;

  &__container {
    @extend %container;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__socials {
    display: flex;
    align-items: center;
  }

  &__social {
    &:not(:last-child) {
      margin-right: 35px;
    }
  }

  @include respond(phone) {
    height: unset;
    padding: 40px 0;

    &__container {
      @extend %container;
      display: flex;
      flex-direction: column;

      & > * {
        &:not(:last-child) {
          margin-bottom: 60px;
        }
      }
    }
  }
}
