.header {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5000;
  background-color: #212121;

  &--active {
    -webkit-box-shadow: 0 8px 5px 0 rgba(11, 13, 15, 0.15);
    -moz-box-shadow: 0 8px 5px 0 rgba(11, 13, 15, 0.15);
    box-shadow: 0 8px 5px 0 rgba(11, 13, 15, 0.15);
  }


  &__lang {
    font-size: 1.8rem;
    color: $white-color;

    span {
      cursor: pointer;
      margin: 0 20px;
    }
  }

  &__container {
    @extend %container;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &__burger {
    cursor: pointer;
  }

  &__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__button-group {
    display: flex;
    align-items: center;
  }

  &__lang-box {
    padding: 10px;
    position: relative;
    background-color: #212121;
    @include text-style(1.6rem, 500, $white-color);
    cursor: pointer;
    margin-right: 20px;
  }

  &__lang-dropdown {
    -webkit-box-shadow: 0 8px 5px 0 rgba(11, 13, 15, 0.15);
    -moz-box-shadow: 0 8px 5px 0 rgba(11, 13, 15, 0.15);
    box-shadow: 0 8px 5px 0 rgba(11, 13, 15, 0.15);
    text-transform: uppercase;
    border-radius: 5px;
    position: absolute;
    background-color: #212121;
    top: 0;
    left: 0;
    p {
      padding: 10px;

      &:not(:last-child) {
        border-bottom: 1px solid $white-color;
      }
    }
  }

  &__btn {
    &:not(:last-child) {
      margin-right: 20px;
    }
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 180px;
  }

  @include respond(tab-land) {
    &__button-group {
      display: none;
    }
  }
}
