.organizers-section {

  $e: &;

  &__container {
    @extend %container;
  }

  &__heading {
    margin-bottom: 40px;
  }

  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 220px;
    }

    &--reverse {
      flex-direction: row-reverse;

      #{$e}__num {
        left: unset;
        bottom: unset;
        top: -90px;
        right: -100px;
      }
    }
  }

  &__info {
    position: relative;
  }

  &__title {
    @include text-style(4rem, 400, $white-color);
    line-height: 38px;
    font-family: $gotham;
    margin-bottom: 110px;

    &--mt50 {
      margin-top: 50px;
    }
  }

  &__text {
    @include text-style(1.8rem, 400, $white-color);
    line-height: 21.5px;
    padding-left: 100px;
    max-width: 590px;
  }

  &__address {
    position: absolute;
    left: 0;
    top: 150px;

    span {
      display: block;
      @include text-style(1.4rem, 300, $white-color);
      font-family: $gotham;
      transform: rotate(90deg) translate(80px, 62px);
    }

    &--second {
      span {
        transform: rotate(90deg) translate(90px, 70px);
      }
    }

    &--top200 {
      top: 200px;
    }
  }

  &__img-box {
    flex-shrink: 0;
    position: relative;
  }

  &__img-wrapper {
    width: 387px;
    height: 387px;
    background-image: url("../assets/img/org-square.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__num {
    width: 183px;
    height: 183px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1B1B1B;
    @include text-style(7.2rem, 400, $main-color);
    font-family: $bebas;

    position: absolute;
    left: -100px;
    bottom: -90px;
  }

  @include respond(tab-land) {
    &__row {
      align-items: flex-start;
      flex-direction: column;

      &--reverse {
        flex-direction: column-reverse;
      }
    }

    &__title {
      margin-bottom: 30px;

      &--mt50 {
        margin-top: 0;
      }
    }

    &__img-box {
      &--first {
        margin-left: auto;
      }
      &--second {
        margin-right: auto;
      }
    }

    &__info {
      &--first {
        margin-bottom: 70px;
      }

      &--second {
        margin-top: 30px;
      }
    }

    &__address {
      top: 70px;

      &--top200 {
        top: 70px;
      }
    }
  }

  @include respond(phone) {
    &__heading {
      margin-bottom: 32px;
    }

    &__row {
      &--reverse {

        #{$e}__num {
          top: -67px;
          right: -44px;
        }
      }
    }

    &__img-wrapper {
      width: 299px;
      height: 299px;
    }

    &__title {
      @include text-style(2.2rem, 400, $white-color);
      line-height: 21px;
      margin-bottom: 30px;
    }

    &__text {
      @include text-style(1.4rem, 400, $white-color);
      line-height: 16.7px;
      padding-left: 45px;
      max-width: unset;
    }

    &__address {
      top: 50px;

      &--top200 {
        top: 50px;
      }
    }

    &__img-box {
      flex-shrink: 0;
      position: relative;
      width: 300px;
      height: 300px;
    }

    &__num {
      width: 168px;
      height: 168px;
      @include text-style(6.2rem, 400, $main-color);

      position: absolute;
      left: -44px;
      bottom: -67px;
    }

  }
}
